@CHARSET "UTF-8";
address {
  display: inline-block;
}
.footer {
  background-color: gray;
  color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.header {
  color: white;
  background-color: navy;
  height: 20px;
  padding: 5px 10px;
}
#logo {
  float: left;
}
#login {
  float: right;
}
.header a {
	color: white;
	text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}





