<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- SQL 맵 파일에서 사용할 타입의 별명을 설정한다. -->
  <typeAliases>
    <typeAlias type="step28.ex4.Member" alias="member"/>
    <typeAlias type="step28.ex4.Teacher" alias="teacher"/>
    <typeAlias type="step28.ex4.Project" alias="project"/>
  </typeAliases>

  <environments default="development">
    <environment id="development"> <!-- DBMS 접속 정보 -->
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/webappdb"/>
        <property name="username" value="webapp"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers> <!-- SQL 문이 들어 있는 XML 파일의 정보 -->
    <mapper resource="step28/ex4/MemberDao.xml"/>
    <mapper resource="step28/ex4/TeacherDao.xml"/>
    <mapper resource="step28/ex4/ProjectDao.xml"/>
  </mappers>
</configuration>





